.settings {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.theme-settings {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: end;
}

@media screen and (min-width: 600px) {
    .theme-settings {
        justify-content: start;
    }
}