.map-tooltip {
    opacity: 100%;
    position:  absolute;
    width: 50px;
    aspect-ratio: 14/20;
    transition: opacity 0.1s;
}

.map-tooltip.hidden {
    opacity: 0%;
    transition: opacity 0.1s;
}

.map-tooltip div {
    width: 100%;
    height: 100%;
    padding-top: 12px;

    background-image: url('/location.svg');
    background-size: cover;
}

.map-tooltip img {
    height: 32px;
    display: block;
    margin: auto;
}