.theme-buttons {
    display: flex;
    height: 48px;
}

.theme-buttons button {
    width: 64px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.theme-buttons button.dark {
    border-radius: 10px 0 0 10px;
    background-color: var(--background-dark);
    color: var(--color-dark);
}

.theme-buttons button.light {
    border-radius: 0 10px 10px 0;
    background-color: var(--background-light);
    color: var(--color-light);
}

.theme-buttons button.active {
    border: 2px solid hsl(0, 0%, 50%);
    transform: scale(1.25);
    border-radius: 15px;
}