header {
  display: flex;
  padding: 1.5rem;
  padding-bottom: 0;
  align-items: center;
  gap: 10px;
  color: var(--color-dark);
}

.app.light,
header.light {
  color: var(--color-light);
}

header h1 {
  width: fit-content;
  height: fit-content;
}

header img {
  height: 48px;
  position: relative;
  top: -10px;
}

header .tab {
  display: none;
  position: fixed;
  top: 0rem;
  right: 5rem;
  z-index: 1;
}

header.light .tab {
  color: hsl(240, 20%, 25%);
  border: 1px solid hsla(240, 20%, 75%, 0);
}

header.light .tab:hover {
  color: hsl(240, 20%, 0%);
}

header .theme-buttons {
  position: fixed;
  top: 1rem;
  right: 5px;
  scale: 0.75;
  z-index: 1;
}

.app {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.page-container {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--color-dark);

  transform: translateX(100vw);
  opacity: 0;
  transition: all 0.5s;
}

.app.light .page-container {
  color: var(--color-light);
}

.page-container.current {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.5s;
}

.page-container.prev {
  transform: translateX(-100vw);
  opacity: 0;
  transition: all 0.5s;
}

@media screen and (min-width: 600px) {
  header {
    padding-bottom: 1rem;
    justify-content: center;
  }

  header .theme-buttons {
    right: 1rem;
  }

  .app {
    flex-direction: row;
  }

  .page-container {
    padding: 2rem;
    padding-top: 0;
  }

  .map-page-container {
    padding-left: 0;
  }
}

@media screen and (min-width: 1000px) {
  header {
    padding: 0;
    height: 91px;
  }

  header .theme-buttons {
    right: 10rem;
  }

  header .tab {
    display: block;
  }

  .app {
    max-width: none;
    padding: 0 1rem;
  }

  .page-container {
    position: static;
    width: auto;
    flex: 1;
    padding: 0;
    opacity: 1 !important;
    transform: translate(0) !important;
  }

  .map-page-container {
    display: block;
  }

  .app:has(.details-page.active) .details-page-container,
  .app:has(.map-page.active) .details-page-container {
    display: block;
  }

  .app:has(.details-page.active) .settings-page-container,
  .app:has(.map-page.active) .settings-page-container {
    display: none;
  }

  .app:has(.settings-page.active) .details-page-container {
    display: none;
  }

  .app:has(.settings-page.active) .settings-page-container {
    display: block;
  }
}