* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  transition: all 0.1s;
}

:root {
  --background-dark: hsl(240, 20%, 10%);
  --color-dark: white;

  --background-light: white;
  --color-light: hsl(240, 33%, 25%);
}

body, input {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

#root, .root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.root.dark {
  background-color: var(--background-dark);
}

.root.light {
  background-color: var(--background-light);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

input {
  color: #1D1B20;
}